%div.container
  = link_to 'New Activity', new_activity_path
  - if @activities.empty?
    %span There are no activities!!
  - else
    - @activities.group_by(&:week).each do |week, weeklyactivities|
      = render 'weeklygroup', week: week, weeklyactivities: weeklyactivities