%div.container
  = link_to 'New Activity', new_activity_path
  - if @activities.empty?
    %span There are no activities!
  - else
    - @activities.group_by(&:week).each do |week, activities_in_week|
      = render 'activities_in_week', week: week, activities_in_week: activities_in_week