%div.container
  - if @activities.empty?
    %span There are no activities!!
  - else
    - @activities.each do |activity|
      %div.activity
        %p= activity.title
        %p= activity.total_mileage
        = link_to 'More Details', activity_path(activity) 