- @weeks_with_activities.each_with_index do |week, index|
  %p= create_week_string(week)
  %p= @weekly_mileages[index]
  .activity-weekly
    - week.each do |date|
      - unless check_date(date[:date])
        =link_to activities_in_date_path(date: date[:date]), class: "activity" do 
          %p{ class: create_race_activity_class(date[:date])[:title] }= date[:date].strftime("%b %-d")
          %p{ class: create_race_activity_class(date[:date])[:miles] }= date[:mileage]