%div.container
  = link_to 'New Activity', new_activity_path
  
  - if @activities.empty?
    %span There are no activities!
  - else
    .activity-weekly
      - @activities.distinct.pluck(:date).each do |date, activities_in_day|
        =link_to date, activities_in_date_path(:date => date)
      -# - @activities.group_by(&:date).each do |date, activities_in_day|
      -#   = render 'activities_in_day', date: date, activities_in_day: activities_in_day