// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$activity-width: 130px;
$activity-color: #fff;

.activity {
  width: $activity-width;
  height: $activity-width * 1.5;
  background-color: $activity-color;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-decoration: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0.5em;
  border-radius: 0.5em;

  &__title {
    color: $accent-light;
    letter-spacing: 1px;
    font-size: 3.2em;
  }


  &__miles {
    position: absolute;
    bottom: -0.2em;
    right: -0.2em;
    font-size: 4.8em;
    color: $accent-dark;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-2px);
  }
}

.activity-weekly {
  display: flex;
  justify-content: space-around;
  margin: 2em;
}