$sidebar-text-color: #FFF;

.sidebar{
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  width: $sidebar-size - 4em;
  background-color: $sidebar-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.siderbar-item-container {
  width: 100%;
  height: 7em;
  display: flex;
  align-items: center;
  border-top: 2px solid rgba(black, 0.2);

  &:last-child {
    border-bottom: 2px solid rgba(black, 0.2);
    
  }
}

.sidebar-item {
  font-size: 2em; 
  color: $sidebar-text-color;

  &--category {
    letter-spacing: 2px;

    &:after {
      background-color: $sidebar-text-color;
      content: '';
      position: relative;
      display: block;
      height: 2px;
      width: 100%;
    }
  }

  &--link {
    font-size: 2em;
    text-decoration: none;
    color: darken($sidebar-text-color, 40%);
    transition: 0.2s;
    width: 100%;
    padding: 1em 1em 1em 0;

    &:hover {
      color: darken($sidebar-text-color, 20%);
      transform: translateX(10px);
    } 

    &--active {
      color: $sidebar-text-color;
      transform: translateX(10px);

      &:hover {
        color: $sidebar-text-color;
        transform: 0
      } 
    } 
  }
}