$sidebar-text-color: #FFF;

.sidebar{
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  width: $sidebar-size;
  background-color: $sidebar-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  margin-top: 2em;
  font-size: 2em; 
  color: $sidebar-text-color;

  &--category {
    letter-spacing: 2px;

    &:after {
      background-color: $sidebar-text-color;
      content: '';
      position: relative;
      display: block;
      height: 2px;
      width: 100%;
    }
  }

  &--link {
    margin-top: 2em;
    font-size: 2em;
    text-decoration: none;
    color: $sidebar-text-color;
    transition: 0.2s;

    &:hover {
      color: darken($sidebar-text-color, 20%);
    } 
  }
}