%aside.sidebar#sidebar
  .siderbar-item-container
    = link_to 'All Activities', root_path, :class => active_class(root_path)
  .siderbar-item-container
    = link_to 'New Activity', new_activity_path, :class => active_class(new_activity_path)
  .siderbar-item-container
    = link_to 'Races', races_path, :class => active_class(races_path)
  .siderbar-item-container
    = link_to 'Workouts', workouts_path, :class => active_class(workouts_path)