%aside.sidebar#sidebar
  %p.sidebar-item.sidebar-item--category Activities
  = link_to 'All Activities', root_path, :class => "sidebar-item sidebar-item--link"
  = link_to 'New Activity', new_activity_path, :class => "sidebar-item sidebar-item--link"
  = link_to 'Races', races_path, :class => "sidebar-item sidebar-item--link"
  = link_to 'Workouts', workouts_path, :class => "sidebar-item sidebar-item--link"